.game {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__cards {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  &__images {
    transition: 0.8s;
  }

  &__buttons {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    &-item {
      padding: 5px 15px;
    }
  }

  &__results {
    margin-top: 30px;

    &-in {
      margin-bottom: 20px;
    }
  }
}

.rotated {
  animation: dispay 1s;
}

@keyframes display {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}