.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.cards {
  margin-top: 30px;
  height: 27vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;

  &__item {
    width: 30vw;
    height: 100%;
  }

  &__img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &--active {
      animation: pulseCard 1s infinite ease-in-out;
    }

    &--first {
      background-image: url('../images/dama-karo-medium.png');
    }

    &--second {
      background-image: url('../images/dama-pik-medium.png');
    }

    &--third {
      background-image: url('../images/dama-kier-medium.png');
    }
  }
}

.buttons {
  margin-top: 50px;
  width: 60%;
  display: flex;

  &__item {
    padding: 5px 10px;
    font-size: 1.4rem;

    &--active {
      animation: pulse 1s infinite ease-in-out;
    }

    &:nth-child(1) {
      margin-left: 35px;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}

.results {
  margin-top: 20px;

  &__label {
    display: block;
    font-size: 1.4rem;
  }

  &__in {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }

  &__btn {
    padding: 5px 10px;
    font-size: 1.4rem;
  }
}

.back {
  animation: rotateToBack 1s;
}

.front {
  animation: rotateToFront 1s;
}

.reset {
  animation: rotateToStart 1s;
}


@keyframes rotateToBack {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes rotateToFront {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateToStart {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes pulseCard {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@media(min-width: 412px) {
  .cards {
    margin-top: 100px;
    height: 22vh;
  }

  .buttons {
    margin-top: 100px;
  }
}
