.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.cards {
  margin-top: 50px;
  width: 100vw;
  height: 27vh;
  display: flex;
  justify-content: space-evenly;

  &__item {
    width: 30%;
    height: 100%;
  }

  &__img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &--active {
      animation: pulse 1s infinite ease-in-out;
    }

    &--first {
      background-image: url('../images/dama-karo-small.png');
    }

    &--second {
      background-image: url('../images/dama-pik-small.png');
    }

    &--third {
      background-image: url('../images/dama-kier-small.png');
    }
  }

}

.buttons {
  margin-top: 50px;
  width: 60%;
  display: flex;

  &__item {
    padding: 5px 10px;

    &--active {
      animation: pulse 1s infinite ease-in-out;
    }

    &:nth-child(1) {
      margin-left: 35px;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}

.results {
  margin-top: 50px;

  &__in {
    margin-bottom: 10px;
  }
}

.back {
  animation: rotateToBack 1s;
}

.front {
  animation: rotateToFront 1s;
}

.reset {
  animation: rotateToStart 1s;
}


@keyframes rotateToBack {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes rotateToFront {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateToStart {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

// MEDIA

@media (min-width: 360px) {
  .cards {
    height: 33vh;
  }
}

@media (min-width: 440px) {
  .cards {
    height: 38vh;
  }
}
