.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.cards {
  margin-top: 50px;
  width: 100vw;
  height: 28vh;
  display: flex;
  justify-content: space-evenly;

  &__item {
    width: 31vw;
    height: 100%;
  }
;

  &__img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &--active {
      animation: pulse 1s infinite ease-in-out;
    }

    &--first {
      background-image: url('../images/dama-karo-small.png');
    }

    &--second {
      background-image: url('../images/dama-pik-small.png');
    }

    &--third {
      background-image: url('../images/dama-kier-small.png');
    }
  }

}

.buttons {
  margin-top: 50px;
  width: 60%;
  display: flex;

  &__item {
    padding: 5px 10px;
    font-size: 1.6rem;

    &--active {
      animation: pulse 1s infinite ease-in-out;
    }

    &:nth-child(1) {
      margin-left: 35px;
    }

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}

.results {
  margin-top: 40px;

  &__label {
    font-size: 1.6rem;
  }

  &__in {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }

  &__btn {
    padding: 5px 10px;
    font-size: 1.6rem;
  }
}

.back {
  animation: rotateToBack 1s;
}

.front {
  animation: rotateToFront 1s;
}

.reset {
  animation: rotateToStart 1s;
}


@keyframes rotateToBack {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

@keyframes rotateToFront {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }

  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateToStart {
  from {
    transform: rotateY(0);
    opacity: 0;
  }

  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

// MEDIA

@media (min-width: 360px) {
  .cards {
    height: 23vh;

    &-item {
      width: 32vw;
    }
  }
}

@media (min-width: 440px) {
  .cards {

  }
}


@media (min-width: 582px) {
  .cards {
    margin-top: 50px;
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;

    &__item {
      width: 30%;
      height: 100%;
    }

    &__img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;

      &--active {
        animation: pulse 1s infinite ease-in-out;
      }

      &--first {
        background-image: url('../images/dama-karo-medium.png');
      }

      &--second {
        background-image: url('../images/dama-pik-medium.png');
      }

      &--third {
        background-image: url('../images/dama-kier-medium.png');
      }
    }

  }
}
